{
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "rtk hook claude"
          }
        ]
      }
    ]
  },
  "enabledPlugins": {},
  "effortLevel": "xhigh",
  "env": {
    "ANTHROPIC_BASE_URL": "https://generativelanguage.googleapis.com/v1beta/openai",
    "ANTHROPIC_AUTH_TOKEN": "<GEMINI_API_KEY>",
    "GEMINI_API_KEY": "<GEMINI_API_KEY>",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "gemini-3.8-flash",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "gemini-3.8-flash",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "gemini-3.8-flash",
    "CLAUDE_CODE_SUBAGENT_MODEL": "gemini-3.8-flash",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "API_TIMEOUT_MS": "3000000"
  }
}
